<div class="content" role="main">

  <div class="card-container">

      <mat-card class="currencies-card">
        <form [formGroup]="exchangeForm" (submit)="onSubmit()">

          <mat-card-title>Netwealth Currency Interview Test 2022</mat-card-title>
          <mat-card-subtitle>Candidate: Nektarios Chazirakis</mat-card-subtitle>
          <mat-card-content>

            <div class="form-container">

                <div fxLayout="column" fxLayoutAlign="space-between stretch">

                  <div fxLayout="row" fxLayoutAlign="space-between stretch">

                    <mat-form-field appearance="outline">
                      <mat-label>Amount</mat-label>
                      <input matInput placeholder="0.00" formControlName="amount">
                      <mat-error *ngIf="amount!.hasError('required')">
                        Amount is <strong>required</strong>
                      </mat-error>
                      <mat-error *ngIf="amount!.hasError('pattern')">
                        Please enter a <strong>valid</strong> amount
                      </mat-error>
                    </mat-form-field>


                    <app-currency-picker
                      [currencies]="(currencies$ | async)!"
                      [excludeCurrencySymbol]="excludeCurrencyToSymbol"
                      [label]="'From'"
                      formControlName="from"
                      (ngModelChange)="onFromCurrencyChange($event)">
                    </app-currency-picker>

                    <app-currency-picker
                      [currencies]="(currencies$ | async)!"
                      [excludeCurrencySymbol]="excludeCurrencyFromSymbol"
                      [label]="'To'"
                      formControlName="to"
                      (ngModelChange)="onToCurrencyChange($event)">
                    </app-currency-picker>

                  </div>

                </div>

            </div>

          </mat-card-content>

          <mat-card-actions class="actions">
            <button mat-raised-button type="submit" color="accent" [disabled]="!exchangeForm.valid">CONVERT</button>
          </mat-card-actions>

        </form>

        <div class="separator">
          <mat-divider></mat-divider>
        </div>


        <div fxLayout="column" fxLayoutAlign="space-around center" *ngIf="conversionResult$ | async as conversionResult">

          <ng-container *ngIf="conversionResult.success">
            <h2>{{ conversionResult.result }}</h2>
            <p> (1 {{ conversionResult.query.from }} = {{ conversionResult.info.rate }} {{ conversionResult.query.to }})</p>
          </ng-container>

          <ng-container *ngIf="!conversionResult.success">
            <p>An error has occured</p>
          </ng-container>

        </div>

      </mat-card>

  </div>

</div>
